body {
  font-family: 'Roboto', 'Open Sans', 'Lato', arial, helvetica, sans-serif;
  padding-bottom: 50px;
  margin-bottom: 25px;
}
h3 {
  margin-top: 100px;
  margin-bottom: 25px;
}
li {
  margin: 25px 50px 25px 0;
}
table {
  width: 1400px;
  margin: 0 50px 0 50px;

}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}

